/Aula01HelloWorld/nbproject/private/
/Aula01HelloWorld/build/
/Aula02Servelets/nbproject/private/
/Aula02Servelets/build/
/Aula03/nbproject/private/
/Aula03/build/
/Aula05POO/nbproject/private/
/Aula05POO/build/
/Teste/nbproject/private/
/Teste/build/
/Aula10_SQLiteWebApp/nbproject/private/
/Aula10_SQLiteWebApp/build/